<%
const { classNames } = require("../../js/ejsUtils")
const cfg = { ...require("./data.json"), ...arguments?.[0] }
const {
	extraClasses,
	extraAttrs,
	imgName,
	time,
	title,
	href,
	description,
	stack,
	hasImageWrapperBorder,
} = cfg
%>

<%
const classes = classNames(extraClasses, 'portfolio-card card card--hoverable')
const attrs = Array.isArray(extraAttrs) ? extraAttrs.join(' ') : extraAttrs
%>

<article
	class="<%= classes %>"
	<%- attrs %>
	data-js-gallery-container
>
	<a
		class="<%= classNames("portfolio-card__image-wrapper", {
      "portfolio-card__image-wrapper--border": hasImageWrapperBorder,
		})%>"
		href="./images/projects/<%= imgName %>_full.jpg"
		data-js-gallery-item='{"caption": "<%= title %>"}'
		title="Open the image in full size"
	>
		<img
			class="portfolio-card__image"
			src="./images/projects/<%= imgName %>.jpg"
			alt=""
			width="400" height="320" loading="lazy"
		/>
	</a>
	<div class="portfolio-card__body">
		<time class="portfolio-card__date" datetime="<%- time.datetime %>">
			<%= time.label %>
		</time>
		<h3 class="portfolio-card__title">
			<% if (href) { %>
				<a
					class="portfolio-card__link"
					href="<%= href %>"
					target="_blank"
					title="Open the website in a new tab"
				>
					<%= title %>
				</a>
			<% } else { %>
				<%= title %>
			<% } %>
		</h3>
		<% if (description) { %>
			<div class="portfolio-card__description">
				<%- description %>
			</div>
		<% } %>
		<% if (stack && stack.length) { %>
			<%- require('../stack/template.ejs')({
				items: stack
			}) %>
		<% } %>
	</div>
</article>
